/*Loading*/
#loading {
    position:         absolute;
    left:             0px;
    top:              0px;
    background-color: #ddd;
    /* ... */
}

/*Chart*/
.chart{
    vertical-align: middle;
    width: 50;
    height: 30;
}

/*
#div Style -Charts
------------------------------------------------------------------ */
div{
    width:100%;
    height:100%
    /*width: 50;*/
    /*height: 30;*/

    /*This centers chart:*/
    margin-left: 0 ;
    margin-right: 0 ;
    margin-bottom: auto;
    margin-top: auto;
}

/*
#spi_ranking Style - This is what you want
------------------------------------------------------------------ */
#spi_ranking a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
#spi_ranking a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
#spi_ranking a:active,
#spi_ranking a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
#spi_ranking {
    /*height: 100%;*/
    /*width: 50%;*/
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
#spi_ranking th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#spi_ranking th:first-child{
    text-align: left;
    padding-left:20px;
}
#spi_ranking tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
#spi_ranking tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
#spi_ranking tr{
    text-align: center;
    padding-left:20px;
}
#spi_ranking tr td:first-child{
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    border-left: 0;
}
#spi_ranking tr td {
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#spi_ranking tr.even td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#spi_ranking tr:last-child td{
    border-bottom:0;
}
#spi_ranking tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
#spi_ranking tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
#spi_ranking tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

/*
#elo_ranking Style - This is what you want
------------------------------------------------------------------ */
#elo_ranking a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
#elo_ranking a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
#elo_ranking a:active,
#elo_ranking a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
#elo_ranking {
    /*height: 100%;*/
    /*width: 50%;*/
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
#elo_ranking th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#elo_ranking th:first-child{
    text-align: left;
    padding-left:20px;
}
#elo_ranking tr:first-child th:first-child{
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
#elo_ranking tr:first-child th:last-child{
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
#elo_ranking tr{
    text-align: center;
    padding-left:20px;
}
#elo_ranking tr td:first-child{
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
#elo_ranking tr td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#elo_ranking tr.even td{
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#elo_ranking tr:last-child td{
    border-bottom:0;
}
#elo_ranking tr:last-child td:first-child{
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
#elo_ranking tr:last-child td:last-child{
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
#elo_ranking tr:hover td{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}