{#Import static files (images/css/js/...):#}
{% load staticfiles %}
{#Import custom made template tags and filters:#}
{% load app_soccer_power_ranking_extra_templates %}
{#This import css file (static)#}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<html>
<head>
    {#JQuery for basic tools#}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {#Tablesorter to make table sortable via columns#}
    {#Added locally as a static file#}
    <script src="{% static "js/tablesorter/jquery-latest.js" %}"></script>
    <script src="{% static "js/tablesorter/jquery.tablesorter.js" %}"></script>
    {#Google Charts#}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {#Script to load tablesorter, create charts and fill table#}
    <script type="text/javascript">
        {#On document ready, load stuff#}
        $(document).ready(function()
                {
                    $("#spi_ranking").tablesorter();
                    $("#elo_ranking").tablesorter();
                }
        );

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            {#Create charts#}
            {#Customize chart using options#}
            {#https://developers.google.com/chart/interactive/docs/customizing_axes#}
            var options = {
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    }
                },
                'chartArea': {'width': '100%'},
                legend: {position: 'none'},
                hAxis: {title: 'none'}
            };

            var chart_spi = [];
            var number_of_charts_spi = 0;
            {% for spi_chart_i in spi_chart %}
                var djangoData_spi = {{ spi_chart_i |safe }};

                {#Add color data to chart#}
                djangoData_spi[0].push({ role: 'style' });
                for (i = 1; i <= 16; i++) {
                    {#If i smaller than 12, these are league positions 7-16 (i.e. out of playoffs)#}
                    if (i < 11) {
                        if (i < 3) {
                            {#Play-off 3#}
                            djangoData_spi[i].push('red');
                        }
                        else {
                            {#Play-off 2#}
                            djangoData_spi[i].push('blue');
                        }
                    }
                    else {
                        {#Play-off 1#}
                        djangoData_spi[i].push('green');
                    }
                }
                var data_spi = google.visualization.arrayToDataTable(djangoData_spi);
                var id_name_spi = 'chart_div_spi' +String(number_of_charts_spi);

                // Create div (needed to make chart, later changed to image)
                var div_spi = document.createElement('div');
                div_spi.id = id_name_spi;

                // Create chart object
                chart_spi[number_of_charts_spi] = new google.visualization.ColumnChart(div_spi);

                // Wait for the chart to finish drawing before calling the getImageURI() method.
                // This makes image (PNG) of chart instead of object
                google.visualization.events.addListener(chart_spi[number_of_charts_spi], 'ready', function () {
                    div_spi.innerHTML = '<img src="' + chart_spi[number_of_charts_spi].getImageURI() + '">';
                    console.log(div_spi.innerHTML);
                });

                // Draw chart command
                chart_spi[number_of_charts_spi].draw(data_spi, options);

                // Inside chart div is the img object
                var google_chart_img = div_spi.children[0];
                google_chart_img.className = "chart"

                // Put it inside td as an extra column in table
                // Use outerHTML to get html string of image
                $('#spi_ranking').find('tbody').find('tr').eq(number_of_charts_spi).find('td').eq(3).after('<td>' + google_chart_img.outerHTML + '</td>');

                // Go to next chart
                number_of_charts_spi = number_of_charts_spi + 1;

            {%  endfor %}



            var chart_elo = [];
            var number_of_charts_elo = 0;
            {% for elo_chart_i in elo_chart %}
                var djangoData_elo = {{ elo_chart_i |safe }};

                {#Add color data to chart#}
                djangoData_elo[0].push({ role: 'style' });
                for (i = 1; i <= 16; i++) {
                    {#If i smaller than 12, these are league positions 7-16 (i.e. out of playoffs)#}
                    if (i < 11) {
                        if (i < 3) {
                            {#Play-off 3#}
                            djangoData_elo[i].push('red');
                        }
                        else {
                            {#Play-off 2#}
                            djangoData_elo[i].push('blue');
                        }
                    }
                    else {
                        {#Play-off 1#}
                        djangoData_elo[i].push('green');
                    }
                }
                var data_elo = google.visualization.arrayToDataTable(djangoData_elo);
                chart_elo[number_of_charts_elo] = new google.visualization.ColumnChart(document.getElementById('chart_div_elo' +String(number_of_charts_elo)));
                chart_elo[number_of_charts_elo].draw(data_elo, options);
                number_of_charts_elo = number_of_charts_elo + 1;
            {%  endfor %}
        }
    </script>
</head>
<body>
<table cellspacing='0' id="spi_ranking" class="tablesorter">
    {#Make table headers#}
    <thead>
    <tr>
        {% for header in spi_table_headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <th>Pro</th>
    </tr>
    </thead>
    {#Fill rest of table with data#}
    <tbody>
    {% for values in spi_table_values %}
        <tr>
            {% for value in values %}
                {% if forloop.first %}
                    <td><img src="{% static ""%}{{ team_logo_links|get_at_index:forloop.parentloop.counter0 }}" height="20" width="20"/>&nbsp;{{ value }}</td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>



<table cellspacing='0' id="elo_ranking" class="tablesorter">
    {#Make table headers#}
    <thead>
    <tr>
        {% for header in elo_table_headers %}
            <th>{{ header }}</th>
        {% endfor %}
        <th>Projected League Finish</th>
    </tr>
    </thead>
    {#Fill rest of table with data#}
    <tbody>
    {% for values in elo_table_values %}
        <tr>
            {% for value in values %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>